* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: #f4f4f4;
    color: #555555;
    line-height: 1.6em;
}

.container {
width: 80vw;
margin: 2rem auto;
}

 /* Quando ultilizo o "*" junto ao outro seletor 
ele indica que devemos aplicar a mudança
 para todos os filhos do seletor*/

 
 .box *{
padding-bottom: 0.5rem;
}

.box p span {
padding-left: 8px;
}
  
.btn {
background-color: #333;
color: #fff;
padding: 10px 15px;
border: none;
text-decoration: none;
border-radius: 2px;
}

.btn:hover {
    background-color: rgba(3, 3, 80, 0.595);
}

.categorias {
    margin-top: 20px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 15px;
}

.categorias h2 {
    text-align: center;
}

.categorias ul {
    list-style: none;
    padding: 15px;
}

.categorias li {
    padding-bottom: 8px;
    border-bottom: 1px dashed #333;
}

.categorias li a {
text-decoration: none;
color: #333;
}

p:first-letter {
    font-size: 130%;
    font-family: serif;
    color: #000000;
}

.categorias li a ::before {
content: '➔';
}

